// Specific CSS for your home-page
.banner {
  height: 100vh;
  width: 100%;
  background-image: image-url('floor_spotlight.jpg');
  color: #B3B3B6;
  text-align: center;
}

.form {
  padding: 100px;
}

.form-inline {
  margin-top: 84px;
}

.form-group {
  border-radius: 100px;
}

.margin-form {
  margin-top: 104px;
}

input {
  border-radius: 2px;
}

h3 {
  font-size: 20px;
}
