<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
  </div>
  <div class="footer-copyright pull-right">
    Made with <i class="fa fa-heart"></i> from your friends at Suit Up
  </div>
</div>
