<div class="container banner" style="">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-12 margin-form">
      <div class="text-center">
        <h1>SuitUp!</h1>
      </div>

      <h3>Look good for your special occasion</h3>
      <h3>Make $$$ renting your fancy closet garments</h3>

      <form action="/items" method="get" class="form-inline">
        <select name="" id="" class="form-control input-lg">
          <option value="1">Dresses</option>
          <option value="2">Suits</option>
        </select>
        <select name="" id="Size" class="form-control input-lg">
          <option value="1">XS</option>
          <option value="2">S</option>
          <option value="3">M</option>
          <option value="4">L</option>
          <option value="5">XL</option>
        </select>
        <input type="text" class="form-control input-lg" placeholder="Where?" name="location">



        <!-- <input type="text" class="form-control input-lg" placeholder="When?"> -->
        <!-- trying to add calendar -->
        <div class="form-group">
                <div class='input-group date datetimepicker' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="Date & Time" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        <% content_for(:after_js) do %>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        locale: 'en'
                    });
                });
            </script>
        <% end %>

</div>





        <input type="submit" class="btn btn-primary btn-lg" value="Search">
      </form>

      </div>

    </div>
  </div>
</div>

